body {
  margin: 0;
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
  /* Use darkest color by default to avoid bright flash on reload at night */
  background-color: #111;
  overflow: hidden;
}

body[data-phase="day"] {
  background-color: #EEE;
}

body[data-phase="night"] {
  background-color: #111;
}

body[data-phase="twilight-astronomical"] {
  background-color: #444;
}

body[data-phase="twilight-civil"] {
  background-color: #AAA;
}

body[data-phase="twilight-nautical"] {
  background-color: #777;
}

main {
  padding: 100px;
  text-align: center;
}

svg {
  zoom: 400;
  transform: rotate(90deg);
}

svg .labels line {
  stroke: #999;
  stroke-width: 0.005;
}

body.setting-hide-hours svg .labels {
  display: none;
}

svg .center {
  fill: #111;
}

body.setting-hide-now svg .now {
  display: none;
}

body[data-phase="day"] svg .now {
  fill: #AAA;
}

body[data-phase="night"] svg .now {
  fill: #444;
}

body[data-phase="twilight-astronomical"] svg .now {
  fill: #777;
}

body[data-phase="twilight-civil"] svg .now {
  fill: #777;
}

body[data-phase="twilight-nautical"] svg .now {
  fill: #444;
}

body.setting-hide-season svg .season {
  display: none;
}

body[data-season="spring"] svg .season {
  fill: hsla(120, 100%, 77%, 0.5);
}

body[data-season="summer"] svg .season {
  fill: hsla(60, 100%, 77%, 0.5);
}

body[data-season="autumn"] svg .season {
  fill: hsla(0, 100%, 77%, 0.5);
}

body[data-season="winter"] svg .season {
  fill: hsla(180, 100%, 77%, 0.5);
}

svg .day {
  fill: #EEE;
}

svg .night {
  fill: #111;
}

svg .astronomical {
  fill: #444;
}

svg .civil {
  fill: #AAA;
}

svg .nautical {
  fill: #777;
}

body.setting-hide-twilight svg .background,
body.setting-hide-twilight svg .dawn,
body.setting-hide-twilight svg .dusk {
  fill: #111;
}

/*******************************************************************************
 * Sidebar
 ******************************************************************************/

aside {
  position: fixed;
  top: 0;
  right: 0;
  box-sizing: border-box;
  width: 300px;
  height: 100%;
  padding: 30px;
  color: #EEE;
  background-color: #555;
  box-shadow: -0.5em 0 0 #555C;
}

aside h3 {
  margin-top: 0;
  text-align: center;
}

aside label {
  display: block;
  position: relative;
  margin-bottom: 1em;
}

aside input[type="checkbox"] {
  margin-right: 0.5em;
}

aside input[type="checkbox"]::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5em;
  height: 1.5em;
  border-radius: 4px;
  background-color: #EEE;
}

aside input[type="checkbox"]:checked::after {
  content: "\2717";
  width: 1em;
  height: 1em;
  line-height: 1em;
  font-size: 1.5em;
  color: #555;
  text-align: center;
}

aside input[type="checkbox"]:disabled::after {
  color: #EEE;
  background-color: #555;
}

aside select {
  display: block;
  border: none;
  border-radius: 4px;
  margin-top: 0.5em;
  padding: 0.2em;
  font-family: inherit;
  font-size: inherit;
  color: #555;
  background-color: #EEE;
}
