body {
  margin: 0;
  overflow: hidden;
}

svg {
  zoom: 400;
  transform: rotate(90deg);
}

.labels line {
  stroke: #888;
  stroke-width: 0.005;
}

.day {
  fill: #EEE;
}

.night {
  fill: #111;
}

.now {
  stroke: #C33;
  stroke-width: 0.005;
}

.sunrise {
  fill: #888;
}

.sunset {
  fill: #333;
}
