body {
  margin: 0;
  padding: 100px;
  text-align: center;
  overflow: hidden;
}

body[data-phase="day"] {
  background-color: #EEE;
}

body[data-phase="night"] {
  background-color: #111;
}

svg {
  zoom: 400;
  transform: rotate(90deg);
}

svg .labels line {
  stroke: #888;
  stroke-width: 0.005;
}

svg .day {
  fill: #EEE;
}

svg .night {
  fill: #111;
}

svg .now {
  stroke-width: 0.005;
}

body[data-phase="day"] svg .now {
  stroke: #BBB;
}

body[data-phase="night"] svg .now {
  stroke: #444;
}

svg .sunrise {
  fill: #AAA;
}

svg .sunset {
  fill: #333;
}
